doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{level}/#{lesson}
    //- link(rel="stylesheet" href="/styles.css")
  body
    div.card
      h3.card__level #{level} lesson-#{lesson}
      p.card__count
        span#currentCount.card__count--element
        | /
        span#lastCount.card__count--element
      div.card__inputs
        label.card__input-en
          input(id = "en" type="radio" name="language" value="en")
          | en → ru
        label.card__input-ru
          input(id = "ru" type="radio" name="language" value="ru" )
          | ru → en
      button#show.card__button.card__button--show translation
      button#add.card__button.card__button--add add to top
      button#next.card__button.card__button--next next
      button#prev.card__button.card__button--prev prev
      div#phrases
        h1#main-phrase main phrases
        h2#translation-phrase translation phrases
  script.
    window.translations = !{JSON.stringify(translations)}
  script(type="module" src="/scripts/card.js")

