doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{level}/#{lesson}
    //- link(rel="stylesheet" href="/styles.css")
  body
    div.card
      h2.card__level #{level} lesson-#{lesson}
      p.card__count 1/#{lenArrayPhrases}
      div.card__inputs
        label.card__input
          input(type="radio" name="language" value="en" checked="checked")
          | en → ru
        label.card__input
          input(type="radio" name="language" value="ru" )
          | ru → en
      h1.card__phrase
      p.card__translation(style="visibility: hidden;")
      button.card__button.card__button--showTranslation translation
      button.card__button.card__button--addPhrase add to top
      button.card__button.card__button--nextPhrase next
      button.card__button.card__button--prevPhrase prev
  script.
    window.translations = !{JSON.stringify(translations)}
  script(src="/scripts/card.js")

